*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /* p: 16px; */
    font-family: 'young serif', serif ;
    background: hsl(30, 54%, 90%);
    line-height: 1.5;
}

p{
    font-size: 16px;
    font-weight: 100;
}

.container img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

ol{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid grey;
}

ol li{
    padding-left: 10px;
}

span{
    font-weight: bold;
}

.container{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    max-width: 700px;
    padding: 30px 35px;
    margin: 0 auto;

    /* justify-content: center;
    align-items: center; */
}

/* prepare section */
.prepare{

    border-radius: 12px;
    padding: 13px;
    background: hsl(330, 100%, 98%)
}

.prepare ul{
    padding-left: 25px;
     display: flex;
    flex-direction: column;
    gap: 10px;
}

.prepare h1{
    text-transform: capitalize;
    font-weight:400 ;
    font-size: 20px;
    font-family: outfit;
    margin-bottom: 15px;
    color: hsl(332, 51%, 32%);
}

/* main-text */

.main-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* short-txt */

.short-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
}

.short-txt h2{
    color:  hsl(14, 45%, 36%);
    font-size: 32px;
}

.short-txt ul{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.short-txt li::marker{
    color: hsl(14, 45%, 36%);
    
}

/* large-txt */

.large-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.large-txt h1{
    color: hsl(14, 45%, 36%);
    text-transform: capitalize;
}

/* nutrition-info */

.nutrition-info{
    margin-bottom: 15px;
}

.nutrition-info h1{
    color: hsl(14, 45%, 36%);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.nutrition-row{
    display: flex;
    /* gap: 100px; */
    padding: 12px 0;
    border-bottom: 1px solid  #ccc;
    /* justify-content: space-between; */
}

.nutrition-row:last-child{
    border-bottom: none;
}

.nutrition-row dt{
    width: 50%;
   text-transform: capitalize;
}

.nutrition-row dd{
    margin: 0;
    font-weight: bold;
}